h1 {
  font-family: "Lora";
  font-weight: bold;
  font-size: 25px;
}
p {
  text-align: justify;
  line-height: normal;
}
.no_padding {
  padding: 0;
}
.center {
  align-items: center;
}
.box-over-img-style {
  border: solid black 5px;
  padding: 3.5rem;
}
.move-box-left {
  margin-left: -50px;
}
