.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: black;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  min-width: 100px;
  min-height: 50px;
}

.btn-primary:hover {
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: #d9d9d9;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  min-width: 100px;
  min-height: 50px;
}

.btn-secondary:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.btn_padding {
  padding-bottom: 2rem;
}
