ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.width_footer {
  width: 70%;
  padding-top: 2rem;
}

.width_footer_icons {
  width: 20%;
  padding: 0.5rem;
  margin-top: 2rem;
}

.padding_footer {
  padding-left: 4rem;
}

ul.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  white-space: pre;
  margin-top: 2rem;
}

.line {
  border-right: solid white 1px;
}
