.grey_background {
  background-color: #eeee;
  padding: 1rem;
}

em1 {
  font-weight: bold;
}

em2 {
  font-weight: bold;
  color: #ff9b21;
}

em3 {
  font-weight: bold;
  color: #65b65a;
  text-decoration: underline;
  font-style: italic;
}

em4 {
  color: red;
}
