.padding_review {
  padding: 5rem;
}

.background {
  background-color: #d9d9d9;
}

.img_position {
  position: relative;
  z-index: 2;
}

.bg_position {
  position: relative;
  z-index: 1;
}

.review_margin {
  margin-top: 5rem;
}
