body {
  font-family: "Lora", serif;
}

.h1_3 {
  font-size: 50px;
}

.border_dark {
  border-style: 2px;
}

/*Brand widget*/
.brand_margin {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.padding-brand {
  padding: 0 10rem 0 0;
}

.padding_review {
  padding: 3rem;
}
